* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


/*  Abbreviations for the following terms will be used throughout the comments: Search Engine Optimization (SEO) Online Reputation Management (ORM) Social Media Marketing (SMM) */


/* this is identifying the background color of the body of the page */

body {
  background-color: #d9dcd6;
}

/* This is identifying the characteristics of the header, a blueish background, white text color and what type of font and the padding around the text */

.header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}


/* Font size of "Horiseon" and in-line with SEO, ORM & SMM of the header container*/

.header h1 {
  display: inline-block;
  font-size: 48px;
}

/* This is changing the color of the text of "seo" within the "Horiseon" text of the header*/

.header h1 .seo {
  color: #d9dcd6;
}

/* targeting the container with the unordred list within the header where the SEO, ORM & SMM are held*/

.header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

/* This is targeting the unordered list of the SEO, ORM & SMM within the header*/

.header nav ul {
  list-style-type: none;
}

/* aligning the SEO, ORM & SMM headers inline within the nav header */

.header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

/* Describing the text color of the SEO, ORM & SMM within the header */
a {
  color: #ffffff;
  text-decoration: none;
}

/*Describing the size of the paragraph font, specifically within the SEO, ORM & SMM sections below the large "hero" image" */

p {
  font-size: 16px;
}

/* All of the traits of the large image below the header of people in a maeeting */

.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

/*telling the image in the SEO section to float to the left of its container */

.float-left {
  float: left;
  margin-right: 25px;
}

/*telling the image in the ORM section to float to the right of its container  */

.float-right {
  float: right;
  margin-left: 25px;
}

/* Makes the contnt section at 75% width allowing for room to include the aside section */

.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

/*The attributes of the aside container which contains the Lead generation, brand awareness and benefit cost blurbs descriptions */

.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}


/* Targeting the color of the text within the snd the margin within each of their individual containers within the larger aside container */

.benefit-lead, .benefit-brand, .benefit-cost {
  margin-bottom: 32px;
  color: #ffffff;
}


/* This is centering the header text of the benefit-lead, brand & cost containers titles in their containers */

.benefit-lead h3, .benefit-brand h3, .benefit-cost h3 {
  margin-bottom: 10px;
  text-align: center;
}

/* Targeting characteristics of the images within the aside container */

.benefit-lead img, .benefit-brand img, .benefit-cost img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}
/* targeting classes to provide a blue background. white text, etc.. */

.search-engine-optimization, .online-reputation-management, .social-media-marketing {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

/* Targeting the class of each individual image's height on page */
.search-engine-optimization img, .online-reputation-management img, .social-media-marketing img {
  max-height: 200px;
}

/*Targetig the class of */

.search-engine-optimization h2, .online-reputation-management h2, .social-media-marketing h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

/* All of the attirbutes of the footer section */
.footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

/* font size of the text in the footer section */

.footer h2 {
  font-size: 20px;
}
